html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
}

section {
    text-align: center;
}

#bloghead {
    text-align:center;
    padding:40px 0px;
}

.navsticky{
    overflow: hidden;
    background-color: #066806;
    margin: auto;
    width: 97%; 
    color: white; 
    position:sticky;
    position:-webkit-sticky;
    top:0px;
  }

#title{
    font-size: 20px;  
    font-weight: bold;
    float: left;
    padding: 15px 15px;
  }

nav a{
    float: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 50px;
    display: inline-block; 
    transition: all 0.5s ease 0s;
  }

nav a:hover{
  background-color: #022405; 
  color: rgb(219, 219, 219); 
}

p {
    line-height: 1.4em;
    padding-bottom: 10px;
}

section {
    border-top: 1px dotted #ccc;
    display: flex;
}

article {
    padding: 20px;
    margin: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
  }


table, th, td {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid black;
    padding: 10px;
}

.carfigs {
    float: left;
}

caption {
    font-size: large;
}

tr:nth-child(even) {
    background-color: lightgrey;
    border: 1px solid black;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#question {
    font-size: larger;
    padding: 15px;
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #066806;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit]:hover {
    background-color: rgb(25, 180, 11);
}
  
div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    align-items: center;
}

.info {
    width: 1000px;
    margin: auto;
}
.info figure {
    float: right;
}
.info p {
    margin-right: 500px;
}

.form button {
    float: right;
}
